html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, sans-serif; /* Optional: Set a clean font */
    background-color: #f4f4f9;      /* Optional: Light background color */
}
